## Business Understanding

In [ ]:
https://www.kaggle.com/datasets/thedevastator/discovering-new-york-city-through-airbnb-user-re

Airbnb is a community-based online platform for listing and renting local homes. It connects hosts and travelers and facilitates the process of renting without owning any rooms itself. It cultivates a sharing-economy by allowing property owners to rent out private flats.

Since 2008, Airbnb has helped guests and hosts to travel in a more unique, personalized way. The company went from a single air mattress for rent to global cooperation valued at more than 30 billion dollars all thanks to its energetic founder- Brian Chesky.

Sentiment analysis is extremely important because it helps businesses quickly understand the overall opinions of their customers. By automatically sorting the sentiment behind reviews, businesses can gauge brand reputation, understand customers and make faster and more accurate decisions.

Reviews are extremely important on Airbnb as customers are generally wary of airbnbs with bad ratings, while good reviews will increase the number of bookings you get as a host.This study will build from the data to identify a set of broad themes that characterise the attributes that influence Airbnb users’ experience in New York City.

### Problem Statement

When choosing an Airbnb, apart from the obvious requirements (price, location, and amenities), customers tend to spend time reading through guest reviews to understand more about the host and the experience they can expect while staying there. The only problem is that this manual effort can be very time consuming!

The problem is how can guests get a concise understanding of prior guests experience without having to read through pages of reviews? Customers are not only interested in knowing whether most reviews were positive they are also interested in knowing what most guests have said about their experience.
With this problem framed, the study aims to approach the problem by relevant keyword extraction using TF-IDF (Term Frequency — Inverse Document Frequency) and Text Summarisation.

### Purpose of the Study

General Objective:

To analyze customer airbnb reviews in New York City

Specific Objective:

Identify accommodation attributes Airbnb guests use to rate their experience

In [25]:
import pandas as pd
data = pd.read_csv('NYC_2021_airbnb_reviews_data1.csv')
data

,listing_id,url,review_posted_date,review
0,2595,https://www.airbnb.com/rooms/2595,November 2019,"Great location, convenient to everything. Very..."
1,2595,https://www.airbnb.com/rooms/2595,May 2019,Place was so cute and comfy! Host was great an...
2,2595,https://www.airbnb.com/rooms/2595,May 2019,10 / 10 would stay again
3,2595,https://www.airbnb.com/rooms/2595,January 2019,The apartment met expectations to how it was i...
4,2595,https://www.airbnb.com/rooms/2595,December 2018,Great space in a fun old building in NYC. Love...
...,...,...,...,...
17439,1918693,https://www.airbnb.com/rooms/1918693,February 2022,Lovely Brownstone in Brooklyn. Clean and spaci...
17440,1918693,https://www.airbnb.com/rooms/1918693,January 2022,We had a great stay at Lorelei & Alex’s place....
17441,1918693,https://www.airbnb.com/rooms/1918693,December 2021,This was a perfect spot for mine and my partne...
17442,1918693,https://www.airbnb.com/rooms/1918693,November 2021,A lovely spot in a lovely neighborhood. Great ...
17443,1918693,https://www.airbnb.com/rooms/1918693,November 2021,Overall great stay. Lorelei and Alex were very...

In [26]:
data.shape

(17444, 4)

### Business Understanding

Weather is something that humans always face in their daily life, it can change from rain, scorching heat, snow, or cloudy. In contrast to climate, the weather has the characteristics of a limited period and a location that is limited to city/municipal coverage. Climate is the long-term weather pattern in an area, typically averaged over 30 years while climate change is the long-term alteration of temperature and typical weather patterns in a place.

Fossil fuels (coal, oil and gas) are by far the largest contributor to global climate change, accounting for over 75 per cent of global greenhouse gas emissions and nearly 90 per cent of all carbon dioxide emissions. As greenhouse gas emissions blanket the Earth, they trap the sun’s heat leading to global warming and climate change. The world is now warming faster than at any point in recorded history. Warmer temperatures over time are changing weather patterns and disrupting the usual balance of nature posing many risks to human beings and all other forms of life on Earth.

A changing climate is leading to more occurrences of extreme events such as droughts (moisture deficits) and floods (moisture surpluses), which have a negative impact on crop growth and yields. We are already facing the climate change effects scientists predicted, such as the loss of sea ice, melting glaciers and ice sheets, sea level rise, and more intense heat waves.

India is among the countries most vulnerable to climate change. It has one of the highest densities of economic activity in the world, and very large numbers of poor people who rely on the natural resource base for their livelihoods, with a high dependence on rainfall.

### Purpose of the Study

General Objective:
To detect climate change and make a prediction on India's climate change

In [ ]:
https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data

In [19]:
climate = pd.read_csv('DailyDelhiClimateTrain.csv')
climate['date']= pd.to_datetime(climate['date'])
climate = climate.set_index('date')
climate

             meantemp    humidity  wind_speed  meanpressure
date
2013-01-01  10.000000   84.500000    0.000000   1015.666667
2013-01-02   7.400000   92.000000    2.980000   1017.800000
2013-01-03   7.166667   87.000000    4.633333   1018.666667
2013-01-04   8.666667   71.333333    1.233333   1017.166667
2013-01-05   6.000000   86.833333    3.700000   1016.500000
...               ...         ...         ...           ...
2016-12-28  17.217391   68.043478    3.547826   1015.565217
2016-12-29  15.238095   87.857143    6.000000   1016.904762
2016-12-30  14.095238   89.666667    6.266667   1017.904762
2016-12-31  15.052632   87.000000    7.325000   1016.100000
2017-01-01  10.000000  100.000000    0.000000   1016.000000

[1462 rows x 4 columns]

In [27]:
climate.shape

(1462, 4)